<div class="page-container">
  <div class="container">
    <%= form_for @article do |f| %>
      <%= f.label :title, "Question" %>:
      <%= f.text_field :title %><br />

      <%= f.label :content_main, "Answer" %>:
      <%= f.text_area :content_main %><br />

      <%= f.label :author_name %>:
      <%= f.text_field :author_name %><br />

      <%= f.submit "Submit" %>
    <% end %>
  </div>
</div>
